@model IEnumerable<WebApiDataConsue.Models.studentData>

@{
    ViewBag.Title = "Getdata";
}

<h2>Getdata</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.std_nam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.std_last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.std_age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.std_nam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.std_last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.std_age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
