@model apiCrud.Models.studentData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>studentData</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.std_nam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_nam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
