@model IEnumerable<delete.Models.employeeData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@ViewBag.msgde
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.emp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emp_id })
        </td>
    </tr>
}

</table>
