


<h2>Index page</h2>

@Html.Label("first name")  @Html.TextBox("fname")

<br />

@Html.DisplayName("last name")  @Html.Editor("lname")

<br />

@Html.DisplayText("age")   @Html.ActionLink("plz click","About","Home")