
@model stronglytypeHelpr.Models.Employee
<h2>Index</h2>

@{
    Html.BeginForm();

}

@Html.LabelFor(model=>model.name) &nbsp; @Html.TextBoxFor(model => model.name, "", new { @class="form-control"})<br />
@Html.LabelFor(model => model.age) &nbsp;  @Html.TextBoxFor(model => model.age, "", new { @class = "form-control" })<br />
@Html.LabelFor(model => model.dagignation) &nbsp; @Html.TextBoxFor(model => model.dagignation, "", new { @class = "form-control" })<br />
@Html.LabelFor(model => model.salary) &nbsp; @Html.TextBoxFor(model => model.salary, "", new { @class = "form-control" })<br />
<input type="submit" value="submit" class="btn btn-info"  />

@{
    
    Html.EndForm();
    
}